[project]
	description = Fruit Basket Application Based on CSV file
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Anupama Baburajan (makketmail)
[access "refs/for/refs/*"]
	read = group user/Anupama Baburajan (makketmail)
	push = group user/Anupama Baburajan (makketmail)
	label-Code-Review = -2..+2 group user/Anupama Baburajan (makketmail)
	label-Verified = -1..+1 group user/Anupama Baburajan (makketmail)
	rebase = group user/Anupama Baburajan (makketmail)
	removeReviewer = group user/Anupama Baburajan (makketmail)
	submit = group user/Anupama Baburajan (makketmail)
[access "refs/heads/*"]
	read = group user/Anupama Baburajan (makketmail)
	create = group user/Anupama Baburajan (makketmail)
	push = +force group user/Anupama Baburajan (makketmail)
	pushMerge = group user/Anupama Baburajan (makketmail)
[access "refs/tags/*"]
	push = group user/Anupama Baburajan (makketmail)
	push = +force group user/Anupama Baburajan (makketmail)
